@import 'tailwindcss';

@theme inline {
  --color-background: #0f172a;
  --color-foreground: #f1f5f9;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  html {
    background-color: #0f172a;
    color: #f1f5f9;
  }

  body {
    font-family: var(--font-sans), Arial, Helvetica, sans-serif;
    background-color: inherit;
    color: inherit;
  }
}
